<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ivanov.andrey.vendstatistics">

    <application
        android:name=".classes.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.CreateNewAutomat"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activitys.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.AutomatInfo"
            android:parentActivityName=".activitys.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.ListOfStatistics"
            android:parentActivityName=".activitys.AutomatInfo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.AutomatInfo" />
        </activity>
        <activity
            android:name=".activitys.StatisticsByDate"
            android:parentActivityName=".activitys.ListOfStatistics">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.ListOfStatistics" />
        </activity>
        <activity android:name=".activitys.EditAutomat"></activity>
    </application>

</manifest>